.name{
  font-size:1.4rem;
  font-weight:900;
  padding-right: 0.4rem
}
text{
  font-size:1.1rem;
}
header{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.3rem;
  color:#f2f2f2;
  min-height:8vh;
}
.container {
	display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  min-height:91vh;
  
	/* display: inline-flex; */
}
.cardlist{
  display: flex;
  flex-direction: column;
  padding-top:0.5rem;
  
}